<div class="row">
  <div *ngIf="product$ | async as product" class="col-6 offset-3">
    <form #pForm="ngForm" (ngSubmit)="onUpdate(product)">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="product.name" name="name" type="text" class="form-control" required pattern="^[A-Űa-ű0-9\.\- ]{5,}$">
        <div [hidden]="pForm.controls?.name?.valid" class="error-message">Wrong data</div>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input [(ngModel)]="product.price" name="price" type="number" class="form-control" required pattern="^[0-9\.]*$">
        <div [hidden]="pForm.controls?.price?.valid" class="error-message">Wrong data</div>
      </div>
      <div class="form-group">
        <label>Category</label>
        <input [(ngModel)]="product.category" name="category" type="text" class="form-control" required pattern="^[A-Űa-ű0-9\.\- ]{5,}$">
        <div [hidden]="pForm.controls?.product?.valid" class="error-message">Wrong data</div>
      </div>
      <button type="submit" [disabled]="pForm.invalid" class="btn btn-block btn-primary">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
